ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
ruff
scikit-learn
tqdm
typer
streamlit
pdfplumber
python-docx
seaborn
torch
torchvision
torchaudio
transformers
plotly
PyPDF2
gdown
WordCloud
-e.
